@import '../../assets/mixins/mixin-media.scss';

.select-item {
	width: 100%;
	height: 34px;
	display: flex;
	transition: background-color var(--transition) ease;
	&:hover {
		background-color: var(--select-hover);
	}
}

.select-item__link {
	padding: 0 13px;
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-align: center;
	gap: 18px;
	text-align: center;
}

.select-item__text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--fs-15);
	color: var(--text-color);
	@include respond-to(xl) {
		font-size: var(--fs-20);
	}
}

.select-item__icon {
	width: 16px;
	height: auto;
	@include respond-to(xl) {
		width: 24px;
	}
}

.catalogText {
	font-size: var(--fs-15);
}
.catalogIcon {
	width: 16px;
}
