@import '../../assets/mixins/mixin-media.scss';

.select-item {
	width: 100%;
	height: 34px;
	transition: background-color var(--transition) ease;
	&:hover {
		background-color: var(--select-hover);
	}
}
.select-item__link {
	padding: 0 13px;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 18px;
	text-align: center;
}
.select-item__text {
	font-size: var(--fs-15);
	color: var(--text-color);
	@include respond-to(lg) {
		font-size: var(--fs-20);
	}
}
