@import '../../assets/mixins/mixin-media.scss';

.catalog {
	padding: 19px 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;

	@include respond-to(md) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include respond-to(xl) {
		grid-template-columns: repeat(4, 1fr);
	}
}
.catalog__fetchButton {
	background: none;
	cursor: pointer;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-button);
	font-size: 10px;
	font-weight: var(--bold);
	padding: 4px 8px;
	background-color: var(--bg-color);
	box-shadow: var(--shadow-button);
}
