.error__wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: auto 0;
	font-size: 14px;
	margin: auto;
	height: 81vh;
	justify-content: center;
	opacity: 0;
	animation: opacity var(--transition) forwards;
}

.error__title {
	font-size: 19px;
}
.error__description {
	font-weight: 700;
}
.error__button {
	background: none;
	border: none;
	cursor: pointer;
	height: 50px;
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
