@import '../../assets/mixins/mixin-media.scss';

.buttonLang {
	font-size: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: auto;
	cursor: pointer;
	align-self: end;
	@include respond-to(lg) {
		font-size: 24px;
	}
}

.button {
	font-size: 15px;
	cursor: pointer;
	border: none;
	border-radius: none;
	background: none;
	transition: font-weight var(--transition) ease;
	@include respond-to(lg) {
		font-size: 24px;
	}
}
.bold {
	font-weight: var(--bold);
}
