@import '../../assets/mixins/mixin-media.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	@include respond-to(xl) {
		gap: 10px;
	}
}
.skeleton {
	opacity: 0.7;
	animation: skeleton-loading 1s linear infinite alternate;
	border-radius: var(--border-radius-item);
	height: 0;
	padding-top: calc(186 / 330 * 100%);
}

.skeleton__text {
	border-radius: var(--border-radius-item);
	animation: skeleton-loading 1s linear infinite alternate;
	min-width: 150px;
	height: 13px;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(0, 0%, 26%);
	}

	100% {
		background-color: hsl(0, 0%, 15%);
	}
}
