@import '../../assets/mixins/mixin-media.scss';

.form {
	position: relative;
	height: 34px;
	width: 100%;
	max-width: 485px;
	opacity: 0;
	animation: opacity var(--transition) forwards;
}
.formHomeSize {
	height: 37.37px;
	max-width: 308px;
	@include respond-to(xl) {
		max-width: 485px;
		height: 56px;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
