@import '../../assets/mixins/mixin-media.scss';

.videoPlayer {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

.videoPlayer:hover .controls__togglePlay {
	opacity: 1;
}

.videoPlayer:hover .controls {
	opacity: 1;
}
.video {
	height: auto;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}
.controls {
	opacity: 0;
	bottom: 15px;
	position: absolute;
	display: flex;
	width: 100%;
	gap: 10px;
	height: 10px;
	max-height: 15px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px 0px;
	button {
		cursor: pointer;
		background: none;
		border: none;
	}
	@include respond-to(xl) {
		gap: 25px;
		padding: 0px 42px;
		height: 20px;
		bottom: 30x;
	}
}

.volume__wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.volume__position {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -50px;
	width: 100%;
	opacity: 0;
	transition: opacity var(--transition) ease;
}

.volume__wrapper:hover > .volume__position {
	opacity: 1;
}

.option__wrapper {
	display: flex;
	align-items: center;
	height: auto;
	gap: 7px;
}
//progress line
.progress__wrapper {
	width: 100%;
	height: 100%;
	justify-content: space-between;
	gap: 6px;
	align-items: center;
	display: flex;
	font-size: 13px;
	@include respond-to(lg) {
		font-size: 15px;
	}
}
.controls__progress {
	width: 100%;
}

//controlers line

.controls__volume {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	width: 100%;
}

.controls__quality {
	font-size: 13px;
	@include respond-to(lg) {
		font-size: 15px;
	}
}

.controls__fullScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.option__img {
	@include respond-to(lg) {
		width: 30px;
		height: 20px;
	}
}
.controls__togglePlay {
	opacity: 0;
	cursor: pointer;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 37px;
	height: auto;
	max-width: 122px;
	max-height: 122px;
	padding: 20px;
	border: 1px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: opacity var(--transition) ease;
	transform: translate(-50%, -50%);
	top: 50%;
	bottom: 50%;
	img {
		width: 11px;
		max-width: 30px;
		max-height: 37px;
	}
}
