@import '../../assets/mixins/mixin-media.scss';

.videoPlayer {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

.video::-webkit-media-controls {
	display: none;
}

.video {
	height: auto;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}
.grab {
	cursor: grab;
}
.objectFit {
	object-fit: contain;
}
.controls {
	opacity: 0;
	bottom: 15px;
	position: absolute;
	display: flex;
	width: 100%;
	gap: 10px;
	height: 10px;
	max-height: 15px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px 0px;
	transition: opacity var(--transition) ease;
	button {
		cursor: pointer;
		background: none;
		border: none;
	}
	@include respond-to(xl) {
		gap: 25px;
		padding: 0px 42px;
		height: 20px;
		bottom: 30px;
	}
}

.padding {
	padding: 0 20px;
	bottom: 20px;
}

.volume__wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.videoPlayer__resize {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	border-bottom: 5px solid var(--border-color);
	border-right: 5px solid var(--border-color);
	cursor: se-resize;
	transition: opacity var(--transition) ease;
	opacity: 0;
}
.videoPlayer__close {
	transition: opacity var(--transition) ease;
	opacity: 0;
	z-index: 1;
	position: absolute;
	right: 20px;
	top: 20px;
	background: none;
	border: none;
	cursor: pointer;
}

.volume__positionRange {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -50px;
	width: 100%;
	display: none;
	@include respond-to(xxl) {
		display: flex;
		opacity: 0;
		transition: opacity var(--transition) ease;
	}
}

.volume__wrapper:hover > .volume__positionRange {
	@include respond-to(xxl) {
		opacity: 1;
	}
}

.option__wrapper {
	display: flex;
	align-items: center;
	height: auto;
	gap: 7px;
}
//progress line
.progress__wrapper {
	width: 100%;
	height: 100%;
	justify-content: space-between;
	gap: 6px;
	align-items: center;
	display: flex;
	font-size: 13px;
	@include respond-to(lg) {
		font-size: 15px;
	}
}
.controls__progress {
	width: 100%;
	align-self: flex-start;
}

//controlers line

.controls__volume {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100%;
	width: 100%;
}

.controls__quality {
	font-size: 13px;
	@include respond-to(lg) {
		font-size: 15px;
	}
}

.controls__fullScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.option__img {
	@include respond-to(lg) {
		width: 30px;
		height: 20px;
	}
}
.controls__togglePlay {
	opacity: 0;
	cursor: pointer;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 13px;
	min-width: 10px;
	padding: 16px 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
	transition: opacity var(--transition) ease;
	@include respond-to(lg) {
		padding: 38px 22px;
	}
}
.border {
	border: 1px solid #fff;
	border-radius: 50%;
}

.togglePlay__img {
	@include respond-to(lg) {
		width: 33px;
		height: 30px;
	}
}
.mobileSize {
	width: 33px;
	height: 30px;
}

.showControls {
	opacity: 1;
}
