@import '../../assets/mixins/mixin-media.scss';

.inputField__wrapper {
	position: relative;
	background-color: var(--bg-color);
	height: 100%;
	z-index: 2;
	display: flex;
	overflow: hidden;
	padding: 0 13px;
	gap: 15px;
	align-items: center;
	text-align: center;
	border-radius: var(--border-radius);
	border: var(--border) solid var(--border-color);
}

.inputField__icon {
	width: 16px;
	height: auto;
	@include respond-to(xl) {
		width: 30px;
	}
}

.inputField__input {
	color: var(--text-color);
	background: none;
	height: 16px;
	width: 100%;
	border: none;
	@include respond-to(xl) {
		font-size: 15px;
	}
}

//icon size
.catalogImg {
	width: 16px;
}
@keyframes blink {
	50% {
		opacity: 30%;
	}
}
.loading {
	animation: blink 1s linear infinite;
}
