@import '../../assets/mixins/mixin-media.scss';

.skeleton {
	margin: 0 10px 0 0;
	width: 70px;
	height: 54px;
	opacity: 0.7;
	display: inline-block;
	object-position: center;
	animation: skeleton-loading 1s linear infinite alternate;

	@include respond-to(md) {
		width: 120px;
		height: 90px;
	}
	@include respond-to(xl) {
		width: 160px;
		height: 100px;
	}
	@media screen and (min-height: 992px) {
		width: 160px;
	}
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(0, 0%, 26%);
	}

	100% {
		background-color: hsl(0, 0%, 15%);
	}
}
