@import '../../assets/mixins/mixin-media.scss';

.slideItem {
	margin: 0 10px 0 0;
	width: 70px;
	height: auto;
	object-position: center;
	object-fit: cover;
	cursor: grab;
	@include respond-to(md) {
		width: 120px;
	}
	@include respond-to(xl) {
		width: 160px;
	}
	@media screen and (min-height: 992px) {
		width: 160px;
	}
}
.dragging {
	cursor: grabbing;
}
