@import '../../assets/mixins/mixin-media.scss';

.slideItem {
	margin: 0 10px 0 0;
	width: 70px;
	cursor: grab;
	opacity: 0;
	animation: opacity var(--transition) forwards;
	@include respond-to(md) {
		width: 120px;
		height: 90px;
	}
	@include respond-to(xl) {
		width: 160px;
		height: 100px;
	}
	@media screen and (min-height: 992px) {
		width: 160px;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
