@import '../../../assets/mixins/mixin-media.scss';

.flex {
	display: flex;
	position: relative;
	width: 100%;
	gap: 35px;
	align-items: center;
	@include respond-to(md) {
		justify-content: space-between;
	}
	@include respond-to(xl) {
		justify-content: left;
	}
}

.column {
	flex-direction: column;
}

.center {
	padding: 0 34px;
	justify-content: center;
	@include respond-to(xl) {
		padding: 0;
	}
}
