@import '../../assets/mixins/mixin-media.scss';

.wrapper {
	height: 100vh;
	display: flex;
	width: 100%;
	margin-top: 30px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	transition: var(--transition) background-color;
}
.activeDrag {
	background-color: var(--bg-drag-color);
}
.home__description {
	opacity: 0;
	animation: opacity var(--transition) forwards;
	width: 326px;
	height: 37.7px;
	text-align: center;
	font-size: 13px;
	@include respond-to(lg) {
		height: 56px;
		width: 500px;
		font-size: var(--fs-20);
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
