.videoPrevies {
	position: absolute;
	cursor: grab;
	&:hover {
		.videoPrevies__close {
			opacity: 1;
		}
	}
}

.videoPrevies__close {
	transition: opacity var(--transition) ease;
	opacity: 0;
	z-index: 1;
	position: absolute;
	right: 20px;
	top: 20px;
	background: none;
	border: none;
	cursor: pointer;
}
