@import '../mixins/mixin-media.scss';

:root {
	--max-width: 1440px;
	--bg-color: #1e1e1e;
	--text-color: #ffffff;
	--anim-time: 60s;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	overflow-x: hidden;
}

body {
	margin: 0 auto;
	max-width: var(--max-width);
	color: var(--text-color);
	position: relative;
	background: var(--bg-color);
	font-weight: 400;
}
body > main {
	padding: 0px 8px;
	@include respond-to(lg) {
		padding: 0px 13px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
