@import '../../assets/mixins/mixin-media.scss';

.slider {
	display: flex;
	position: fixed;
	max-width: var(--max-width);
	overflow: hidden;
	top: 15px;
	transform: translateY(-50%, -50%);
	flex-direction: column;
	gap: 15px;
	transition: top var(--transition) ease;
	.first {
		display: none;
	}
	@include respond-to(xl) {
		top: 20px;
	}
	@include respond-to(xl) {
		.first {
			display: inline-block;
		}
	}
}

.hidden {
	top: -223px;
}
