@import '../../assets/mixins/mixin-media.scss';

.slider {
	display: flex;
	overflow: hidden;
	position: absolute;
	top: 15px;
	flex-direction: column;
	gap: 15px;
	transition: top var(--transition) ease;
	.first {
		display: none;
	}

	@include respond-to(xl) {
		top: 20px;
		.first {
			display: inline-block;
		}
	}
	@media screen and (min-height: 992px) {
		.first {
			display: inline-block;
		}
	}
}
